footer {
	background: ghostwhite;
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
}
footer p {
	font-size: 0.8em;
}

#footPadding {
	padding-bottom: 25px;
}

/*food menu styling*/

#menu-style {
	border-top: 1px dashed #dcd1c7;
}


#menuHeadings {
  font: 4rem 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

#foodName {
	color: #b48242;
}

#menu-paragraph {
	font: 1.5rem 'Great Vibes', Helvetica, sans-serif;
}

