footer {
	background: ghostwhite;
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
}
footer p {
	font-size: 0.8em;
}

#footPadding {
	padding-bottom: 25px;
}

/*food menu styling*/

#menu-style {
	border-top: 1px dashed #dcd1c7;
}


#menuHeadings {
  font: 4rem 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

#foodName {
	color: #b48242;
}

#menu-paragraph {
	font: 1.5rem 'Great Vibes', Helvetica, sans-serif;
}

/*events styling*/

/*login, & register */

.main {
	height: 100%;
	width: 100%;
	display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#login {
	width: 30%;
}

@media all and (max-width:800px) {
	#login {
		width: 90%;
	}
}

#login input[type="text"], #login input[type="password"], #login input[type="email"],
#login input[type="number"], #login select, #login input[type="date"]{
    margin: 0px;
    height: 50px;
}

#eventForm input[type="text"], #eventForm input[type="password"], #eventForm input[type="time"],
#eventForm input[type="number"], #eventForm select, #eventForm input[type="date"]{
    margin: 0px;
    height: 50px;
}

.border-radius-top {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 0px !important;
}


.border-radius-bottom {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.no-radius {
    border-radius: 0px;
    border-bottom: 0px !important;
}

/* validation error message style*/
.error {
    color: red;
    font-weight: bold;
}


/* flash message style*/
.success {
    color: green;
    font-weight: bold;
}




