<div class="row">
	<div class="medium-8">
		<h1 class="text-center" id="menuHeadings">Upcoming Events</h1>
	</div>
</div>
<div class="row">
	<div class="medium-2 columns">

		<!-- search event data -->
		<input ng-model="query" type="text" id="right-label" placeholder="Search Bands">

		<!-- sort by date accending or deccending -->
		Sort by Date :
		<select ng-model="orderProp">
		  <option value="date">Descending</option>
		  <option value="age">Accending</option>
		</select>
	</div>

	<div class="medium-5 columns">

		<!-- display events -->
		<div ng-repeat="event in events | filter: query | orderBy:orderProp">
			<img src="img/border.png">
			<h4>{{event.date}} starting at {{event.startTime}}</h4><br>
			<p>{{event.playing}}: {{event.description}}</p>
		</div>
	</div>
	<!-- images todo -->
	<div class="medium-4 columns"></div>
</div>








