<div class="row">
	<div class="medium-8">
		<h1 class="text-center" id="menuHeadings">Upcoming Events</h1>
	</div>
</div>
<div class="row">
	<div class="medium-2 columns">
		<!-- search event data -->
		<input ng-model="query" type="text" id="right-label" placeholder="Search Events">
		<img ng-src="img/sidebar.png">
	</div>

	<div class="medium-6 columns">

		<!-- display events -->
		<div ng-repeat="event in events | filter: query">
			<img ng-src="img/border.png">
			<h4>{{event.eventDate | date:'dd-MMM-yyyy'}} starting at {{event.startTime | date: 'h:mma'}}</h4><br>
			<p>{{event.playing}}: {{event.description}}</p>
		</div>
	</div>
	<!-- images todo -->
	<div class="medium-3 columns"></div>
	<!-- thumbnails with link to large image, foundation.css feature -->
	<a class="th" href="img/indians.jpg">
	  <img ng-src="img/indians-th.jpg">
	</a><br><br>
	<a class="th" href="img/nixon.jpg">
	  <img ng-src="img/nixon-th.jpg">
	</a><br><br>
	<a class="th" href="img/localBand.jpg">
	  <img ng-src="img/localBand-th.jpg">
	</a>
</div>








