<div class="text-center">
	<h1>Welcome to Murphy's Bar</h1>
	<img src="img/murphy-s-bar.jpg" id="footPadding">
<h3>About Us</h3>
</div>
<p>
	Te lobortis hendrerit cotidieque vix. Ne duis mentitum quaestio pro, feugiat intellegam mel ea. His ea dignissim urbanitas persequeris, labore feugait ea eos, mea modus forensibus ad. Quo no copiosae partiendo, diam complectitur vim ei. Ius ex debet erant torquatos, nihil voluptatibus at sit, at duo altera nusquam.<br><br>

	Mea ex augue euripidis. Per congue nostrum suscipiantur ad. Mundi explicari in cum. Omnis adolescens ut vis, per convenire cotidieque signiferumque et. Detracto facilisi imperdiet at mea. Affert dictas repudiandae ne usu, ea cetero maiorum has. Id solum essent ancillae ius, cu cum illud putant nostrum.<br><br>

	Eius dicat honestatis no sed, qui sumo dicam ad. Nusquam pericula no mea, eam an omnium singulis. Usu consul veritus id, at nec alienum scripserit, nec an suscipit eleifend. Epicurei phaedrum inciderint ei usu, duo iudico appareat cu, et his populo legimus.
</p>

<div class="row"></div>