<h2 class="text-center">Murphy's Bar Food. Come hungry. Leave happy.</h2>

<!-- display starters -->
<div class="row">
	<div class="medium-6 columns">
		<h3 class="text-center">Starter's</h3>
		<div ng-repeat="item in foodMenus[0].starters">
			<div id="menu-style">
				<h4>{{item.name}}</h4>
				<p id="menu-paragraph">{{item.description}} <br>
					<strong>{{item.price}}</strong>
				</p>
			</div>
		</div>
	</div>

	<!-- display mains -->
	<div class="medium-6 columns">
		<h3 class="text-center">Main's</h3>
		<div ng-repeat="item in foodMenus[0].mains">
			<div id="menu-style">
				<h4>{{item.name}}</h4>
				<p id="menu-paragraph">{{item.description}} <br>
					<strong>{{item.price}}</strong>
				</p>
			</div>
		</div>
	</div>
</div><!-- row end -->

<!-- display deserts -->
<div class="row">
	<div class="medium-6 columns">
		<h3 class="text-center">Desserts's</h3>
		<div ng-repeat="item in foodMenus[0].deserts">
			<div id="menu-style">
				<h4>{{item.name}}</h4>
				<p id="menu-paragraph">{{item.description}} <br>
					<strong>{{item.price}}</strong>
				</p>
			</div>
		</div>
	</div>

	<!-- display wines -->
	<div class="medium-6 columns">
		<h3 class="text-center">House Wine</h3>
		<div ng-repeat="item in foodMenus[0].wines">
			<div id="menu-style">
				<h4>{{item.name}}</h4>
				<p id="menu-paragraph">{{item.description}} <br>
					<strong>{{item.price}}</strong>
				</p>
			</div>
		</div>
	</div>
</div><!-- row end -->