<div class="row">
	<div class="medium-12 columns">
		<table>
			<caption>Edit starter menu</caption>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Price</th>
		    </tr>
		  </thead>
		  <tbody ng-repeat="item in foodMenus[0].starters">

		  	<!-- Edit starters -->
		    <tr>
		      <td><a href="#" editable-text="item.name">{{item.name}}</a></td>
		      <td><a href="#" editable-text="item.description">{{item.description}}</a></td>
		      <td><a href="#" editable-text="item.price">{{item.price}}</a></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>

<!-- styled starters -->
<div class="row">
	<div class="medium-6 medium-offset-2 columns">
		<caption>Styled starter menu</caption>
		<div ng-repeat="item in foodMenus[0].starters">
			<div id="menu-style">
				<h4>{{item.name}}</h4>
				<p id="menu-paragraph">{{item.description}} <br>
					<strong>{{item.price}}</strong>
				</p>
			</div>
		</div>
	</div>
</div>

