<div class="row"><br>
	<div class="medium-2 columns">
		<ul class="side-nav" id="sideNav">
			<h5 id="foodName" class="text-center">Admin Links</h5>
		  <li><a href="#/adminLogin"
		  	class="button alert border-radius-bottom-margin small">Logout</a></li>
		  <li class="divider"></li>
		  <li><a href="#/admin/home">Admin Home</a></li>
		  <li class="divider"></li>
		  <li><a href="#/admin/editMenu">Edit Menus</a></li>
		  <li class="divider"></li>
		  <li class="active"><a href="#/admin/events">Add/edit events</a></li>
		</ul>
	</div>
	<div class="medium-4 medium-offset-2 columns">
		<h4 class="text-center">Add new Event</h4>
		<form name="eventForm" id="eventForm" ng-submit="addEvent()">
			<input type="date" ng-model="newEvent.eventDate" placeholder="Event date: e.g. 15-Mar-2015"  name="date" required>
			<input type="time" ng-model="newEvent.startTime" placeholder="Start time: e.g. 9:00pm" name="time" required>
			<input type="text" ng-model="newEvent.playing" placeholder="Band or event type" name="playing" required>
			<textarea ng-model="newEvent.description" maxlength="150" placeholder="Event Description, Optional!!  150 characters max"></textarea>
			<input type="submit" class="button small border-radius-bottom" value="Add Event" ng-disabled="eventForm.$invalid" style="width: 100%">
		</form>
	</div>
	<div class="medium-4 columns">
	</div>
</div>
<div class="row">
	<div class="medium-9 columns">
		<table>
			<caption>Edit events</caption>
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th width="150">Event</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead><!-- reverse order of events, added events appear at top -->
			<tbody ng-repeat="event in events | reverse"{{event.playing}}>
				<tr><!-- enable event editing with xeditable library -->
					<td><a href="#" editable-date="event.eventDate">{{event.eventDate | date:'dd-MMM-yyyy'}}</a></td>
					<td><a href="#" editable-time="event.startTime">{{event.startTime | date: 'h:mma'}}</a></td>
					<td><a href="#" editable-text="event.playing">{{event.playing}}</a></td>
					<td><a href="#" editable-textarea="event.description">{{event.description}}</a></td>
					<td><a ng-really-message="Are you sure" ng-really-click="removeEvent(event)" class="error">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
