<div class="main">
	<div class="wrapper">
		<div id="login" class="row" style="margin: auto">
			
			<form ua-signup ua-error="error-msg">
				<div class="large-12 columns text-center"><br>
				
					<h3 class="text-center">Add Admin user</h3>
			    <input type="text" name="first_name" placeholder="Name:" required  />
			    
		   
			    <input type="email" name="login" ua-is-email placeholder="Email:" required  />
			    
		    	<input type="password" name="password" placeholder="Password:"required />

		    <button  type="submit" ng-disabled="form.$invalid"
		    class="button small border-radius-bottom" style="width: 100%">
		    Register Admin User
		  	</button>
		    
		    <a href="#/admin/home" class="button alert small border-radius-top">Cancel</a>
			 </div>
			 <p class="error" id="error-msg"></p>
		</form>
	</div>
</div>
</div>